#mapid {height: 500px;}
#jumbotext {
	font-size: 25px;
	color: white;
	-webkit-text-stroke: .5px black;
}
#abouttext{
	color: purple;
	-webkit-text-stroke:.5px black;
}

#thead_text {
	font-size: 20px;
}
#header-text{
	color:white;
}


li.hs-form-checkbox {
	display: inline-block;
	width: 50%;
}

.date_input {
	margin-top: 1px
}
.services-section img {
    width: 225px;
    margin: auto;    
    display: block;
}
.services-section-2 img {
    width: 247px;
    margin: auto;    
    display: block;
}
#table_space {
	margin-top: 10px;
}

table, th, td {
	border: 1px solid black;
}
#table {
	margin-left: 100px;
	margin-right: 100px;
}
#table_text {
	font-size: 12pt;
}

#input_box {
	margin-top: 10px;
}

#margins{
	margin-right: 10px;
	margin-left: 10px;
}

.violent {
	background-color: rgb(222, 102, 75);
}
.property {
	background-color: rgb(92, 168, 209);
}

.other{
	background-color: rgb(107, 143, 81) 
}

h1 {
	font-size: 30px;
}
